@import '../../../node_modules/compass-mixins/lib/compass';

:host{
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden;
  display: block;
}

.welcomePage{
  background: #2a303d;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
span{
    color:white;
    font-size: 26px;
}
.animationDone{
    display: none
}
button{
    background-color: transparent;
    color: white;
    font-size: 26px;
    border: 1px solid white;
    margin-left: 8px;
}
.japan{
    font-family: 'Noto Sans JP', sans-serif;
}

.login{
    display: flex;
    margin-bottom: 8px;
}
.error{
  color: red;
  font-size: 18px;
}

// n is number of stars required
@function multiple-box-shadow ($n){
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n{
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF'
  }
  @return unquote($value)
}
$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(100);

.stars{
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
    animation: animStar 50s linear infinite;
      
    &:after{
        content: " ";
        position: absolute;
        top: 2000px;
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: $shadows-small;
    }
}

.stars2{
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;
    
  &:after{
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}


.stars3{
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;
    
  &:after{
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}
@keyframes animStar{
  from{
    transform: translateY(0px)
  }
  to{
    transform: translateY(-2000px)
  }
}

.loginInput{
  font-family: none !important;
}