<nav class="navbar fixed-top navbar-expand-lg navbar-dark" id="menu">
    <div class="container-fluid">
      <a data-menuanchor="firstPage" class="navbar-brand headerLink" href="#home">Nihal & Chris</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto mb-2 mb-lg-0">
          <a data-menuanchor="home" class="nav-link" aria-current="page" href="#home">Home</a>
          <a data-menuanchor="info" class="nav-link" routerLinkActive="active" href="#welcom">Welcome</a>
          <a data-menuanchor="schedule" class="nav-link" routerLinkActive="active" href="#reservation">Schedule</a>
          <a data-menuanchor="reservation" class="nav-link" routerLinkActive="active" href="#reservation">Reservation</a>
          <a data-menuanchor="contact" class="nav-link" routerLinkActive="active" href="#contact" tabindex="-1" aria-disabled="true">Contact</a>
        </div>
      </div>
    </div>
  </nav>


<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)" #fullpageRef>
    <div class="section firstSection">
    </div>
    <div class="section secondSection">
      <div class="container">
        <div class="card">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>Dear Family and Friends,<br>
                This event will be an extended weekend with the close family, and a party on Saturday with everyone who we hope will have a continued impact on our lives.
                Please refer to the time schedule published here, which we will keep updating as the information becomes available. The paper trail of an international wedding is very long, as some of you already know.
                In any case, we would also like to request you to submit your RSVP here please.
                This will allow us to better plan and worry less when we are all together on the day.
                Thank you, see you soon! 😱
                Love,
                Nihal & Chris
                </p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <div class="section secondSection">
      <app-schedule-page [isRegular]="isRegular$ |async"></app-schedule-page>
  </div>
    
    <div class="section secondSection">
        <h1>Reservation</h1>
    </div>
    <div class="section secondSection">
        <h1>Contact</h1>
    </div>
  </div>