

.section {
    text-align:center;
    font-size: 3em;
  }
  a{
    color: white !important;
    font-weight: 400;
    font-size: 16px;
  }
  a.active, a:hover{
     color: white !important;
      &.nav-link{
        text-decoration: underline;
        text-underline-offset: 7px;
      }
  }
  .navbar{
    position: relative;
    border-bottom: 1px solid black;
    background-color:#272727;
  }
  .navbar-brand{
    font-size: 26px;
  }
  .firstSection{
    background-image: url('../../assets/images/wedding_phot.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .contentContainer{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .secondSection{
    background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url("../../assets/images/wedding_phot.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  @media only screen and (max-width: 600px) {
    .firstSection{
       background-size: cover;
    };
    .container{
      width: 100%
    }
  }


  @media only screen and (min-width: 600px) {
    .container{
      width: 60%
    }
    .navbar{
       padding: 40px 80px;
    }
    .contentContainer{
        h1{
            font-size: 68px
        }
        h3{
            font-size: 32px;
        }
    }
  }

  @media only screen and (max-width: 768px) {
   .welcomeText{
     font-size: 12px;
   }
  }

  .headerLink{
    color: white;
  }
  .blockquote{
    text-align: left;
  }
.containerLocation{
  margin:3em;
}
  .containerInner{
    display: flex;
    justify-content: space-between;
  }
  .location-picture{
    width: 50%;
  }
  .address{
    font-size: 30px;
    text-decoration: none;
    color: black !important;
    &:active, &:hover {
    color: black !important;
    text-decoration: underline;
    }
  }

  .innerInner{
    margin-right: 30px
  }



@media only screen and (max-width: 889px) {

  .location-picture{
    display: none;
  }
}