<nav class="navbar fixed-top navbar-expand-lg navbar-dark" id="menu">
    <div class="container-fluid">
      <a data-menuanchor="firstPage" class="navbar-brand headerLink" href="#home">Nihal & Chris</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto mb-2 mb-lg-0">
          <a data-menuanchor="home" class="nav-link" aria-current="page" href="#home">Home</a>
          <a data-menuanchor="welcome" class="nav-link" aria-current="page" routerLinkActive="active" href="#welcome">Welcome</a>
          <a data-menuanchor="location" class="nav-link" aria-current="page" routerLinkActive="active" href="#location" tabindex="-1" aria-disabled="true">Location</a>
          <a data-menuanchor="schedule" class="nav-link" aria-current="page" routerLinkActive="active" href="#schedule">Schedule</a>
          <a data-menuanchor="rsvp" class="nav-link" aria-current="page" routerLinkActive="active" href="#rsvp">RSVP</a>
        </div>
      </div>
    </div>
  </nav>


<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)" #fullpageRef>
    <div class="section firstSection">
    </div>
    <div class="section secondSection">
      <div class="container">
        <div class="card">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p class="welcomeText">Dear Family and Friends,<br><br>
                We are looking forward to spending our wedding weekend with all the people who we hope will have a lasting presence in our life. We would like to use this site to keep you all informed as our planning progresses.<br>In any case, we kindly ask you to submit your RSVP here.
This will allow us to better plan and worry less when we are all together on the day.<br>
                Thank you, see you soon! 😱<br>
                Love,<br>
                Nihal & Chris
                </p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <div class="section secondSection">
      <div class="containerLocation">
        <div class="containerInner">
          <div class="innerInner">
            <a class="address" href="https://www.google.com/maps/place/Louveterie+100,+4830+Limbourg,+Belgium/@50.5766956,5.9186055,14z/data=!4m5!3m4!1s0x47c088fbb38bfa5f:0xfb3973cb3dfca686!8m2!3d50.5766922!4d5.9361203">Château de la Louveterie<br>Louveterie 100, 4830 Limbourg BE</a>
            <app-location-page></app-location-page>
          </div>
          <img class="location-picture"
     src="'../../../../assets/images/location.jpg"
     alt="Wedding Location">
        </div>
      </div>
      <app-location-page></app-location-page>
  </div>
    <div class="section secondSection">
      <app-schedule-page [isRegular]="isRegular$ |async"></app-schedule-page>
  </div>
    
    <div class="section secondSection">
        <app-rsvp-page [isRegular]="isRegular$ |async"></app-rsvp-page>
    </div>
  </div>