<div *ngIf="isRegular; else elseBlock">
    <h2 class="text-uppercase text-letter-spacing-xs my-0 font-weight-bold">
        Schedule
      </h2>
      <p class="text-sm text-dark mt-0 mb-5">There's time and place for everything.</p>
    <div class="container py-7">
        <div class="row">
            <div class="regular">
                <div class="col-lg-4 mb-3" id="Sunday, Nov 15th">
                    <h4 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
                      Saturday, July 30th
                    </h4>
                    <ul class="list-timeline list-timeline-primary">
                      <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column"  data-target="#day-3-item-2">
                        <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">15:00</span> - Afternoon Drinks
                            <fa-icon data-toggle="tooltip" 
                            title="We would like to start the afternoon in a relaxed manner, allowing everyone to come in on your own time. Other than a bar with drinks, no special arrangements will be made, we are just looking forward to meeting all of you. We would, however, be very grateful if you could make it to the party by 17.30, so we at least have a chance to meet you before the wedding vows."		 
                            data-placement="top" class="icon" [icon]="faInfo"></fa-icon>
                        </p>
                      </li>
                      <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                        <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">18:00</span> - Small Wedding Vows
                            <fa-icon data-toggle="tooltip" 
                            title="We would like to have a small ceremony, where we exchange our vows in front of those people, who we hope will have a lasting presence in our lives."
                            data-placement="top" class="icon" [icon]="faInfo"></fa-icon>
                        </p>
                      </li>
                      <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column"  data-target="#day-3-item-4">
                        <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">19:00</span> - Buffet Dinner
                            <fa-icon data-toggle="tooltip" 
                            title="This will not be a formal sit-down dinner, as we hope we all can profit from the beautiful surroundings offered at the chateau in our own way, before moving on to the even-less-formal part of the evening."
                            data-placement="top" class="icon" [icon]="faInfo"></fa-icon>
                        </p>
                      </li>
                      <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column"  data-target="#day-3-item-4">
                        <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">...</span> - Open-End</p>
                      </li>
                    </ul>
                  </div>
            </div>
        </div>
      </div>
</div>
<ng-template #elseBlock>
    <div class="container py-7">
        <div class="row">
          <div class="col-lg-4 mb-3" id="Friday, Nov 13th">
            <h4 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
              Thursday, July 28th
            </h4>
            <ul class="list-timeline list-timeline-primary">
              <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">17:00</span> - Arrivals
                    <fa-icon data-toggle="tooltip" 
                    title="For anyone who would like to have a stress-free arrival the day before, we have access to the chateau from 17.00"		 
                    data-placement="top" class="icon" [icon]="faInfo"></fa-icon>
                </p>
              </li>
              <li class="list-timeline-item show p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column"  data-target="#day-1-item-2">
                <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">19:30</span> - Optional Dinner
                    <fa-icon data-toggle="tooltip" 
                    title="For anyone who would like to join us, we would like to find a small restaurant and go out together. But the evening activities are entirely up to you. All we ask is that you let us know of your plans."		 
                    data-placement="top" class="icon" [icon]="faInfo"></fa-icon>
                </p>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 mb-3" id="Saturday, Nov 14th">
            <h4 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
              Friday, July 29th
            </h4>
            <ul class="list-timeline list-timeline-primary">
              <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">10:00</span> - Breakfast (optional)
                    <fa-icon data-toggle="tooltip" 
                    title="A small, French self-service breakfast will be available for everyone. Nothing fancy :)"		 
                    data-placement="top" class="icon" [icon]="faInfo"></fa-icon></p>
              </li>
              <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-target="#day-2-item-2">
                <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">tbc.</span> - Drive to Aachen
                    <fa-icon data-toggle="tooltip" 
                    title="We will be driving to Aachen together. Once the final location is announced, we will be recommending a parking lot with a google location"		 
                    data-placement="top" class="icon" [icon]="faInfo"></fa-icon>
                </p>
              </li>
              <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">tbc.</span> - Meet at Aachen City Hall</p>
              </li>
              <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column"  data-target="#day-2-item-4">
                <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">tbc.</span> - Civil Wedding</p>
              </li>
              <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">tbc.</span> - Casual Reception</p>
              </li>
              <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column"  data-target="#day-2-item-6">
                <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">19:00</span> - Family Dinner</p>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 mb-3" id="Sunday, Nov 15th">
            <h4 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
              Saturday, July 30th
            </h4>
            <ul class="list-timeline list-timeline-primary">
              <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">self-service</span> - Breaksfast
                    <fa-icon data-toggle="tooltip" 
                    title="A small, French self-service breakfast will be available for those staying at the chateau. Nothing Fancy :)"		 
                    data-placement="top" class="icon" [icon]="faInfo"></fa-icon>
                </p>
              </li>
              <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column"  data-target="#day-3-item-2">
                <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">15:00</span> - Afternoon Drinks
                    <fa-icon data-toggle="tooltip" 
                    title="We would like to start the afternoon in a relaxed manner, allowing everyone to come in on your own time. Other than a bar with drinks, no special arrangements will be made, we are just looking forward to meeting all of you.
                    We would, however, be very grateful if you could make it to the party by 17.30, so we at least have a chance to meet you before the wedding vows."		 
                    data-placement="top" class="icon" [icon]="faInfo"></fa-icon>
                </p>
              </li>
              <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">18:00</span> - Small Wedding Vows
                    <fa-icon data-toggle="tooltip" 
                    title="We would like to have a small ceremony, where we exchange our vows in front of those people, who we hope will have a lasting presence in our lives."
                    data-placement="top" class="icon" [icon]="faInfo"></fa-icon>
                </p>
              </li>
              <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column"  data-target="#day-3-item-4">
                <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">19:00</span> - Buffet Dinner
                    <fa-icon data-toggle="tooltip" 
                    title="This will not be a formal sit-down dinner, as we hope we all can profit from the beautiful surroundings offered at the chateau in our own way, before moving on to the even-less-formal part of the evening."
                    data-placement="top" class="icon" [icon]="faInfo"></fa-icon>
                </p>
              </li>
              <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-target="#day-3-item-4">
                <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">...</span> - Open-End</p>
              </li>
            </ul>
          </div>
          <div class="lastSection">
            <div class="col-lg-4 mb-3" id="Monday, Nov 15th">
                <h4 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
                  Sunday, July 30th/ Monday, August 1st
                </h4>
                <ul class="list-timeline list-timeline-primary">
                  <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                    <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">self-service</span> - Breaksfast</p>
                  </li>
                  <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                    <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">No other plans</span></p>
                  </li>
                </ul>
              </div>
          </div>
          
        </div>
      </div>
</ng-template>