:host{
    display: flex;
    font-size: 20px;
    justify-content: center;
    text-align: left;
}
.firstSection{
    display: flex;
    .firstNameGroup{
        margin-right: 8px
    }
}

.checkout{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}

.attendingSpan{
    margin-right: 8px
}

.submitBtn{
    margin-top: 10px;
    background-color: #272727 !important;
    border-color: #272727  !important;
}

.foodInput{
    width: 30%
}
.foodGroup{
    margin-top:10px
}

